* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.dashboard-body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-Register {
    display: none;
}

.nav-style {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 90%;
    padding: 10px 0;
}

.data-visualization-style {
    width: 90%;
    height: 90vh;
    background-color: rgb(233, 233, 233);
}

.user-accounts-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.user-accounts {
    padding: 10px;

}

.accounts {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

table {
    /* background-color: red; */
    width: 100%;
    text-align: center;
    /* border: 1px solid black; */
}

.modal-container-style {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.modal-style {
    /* width: 400px; */
    /* height: 300px; */
    background-color: rgb(206, 206, 206);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    z-index: 1;
}

.save-acc-btn {
    width: 70%;
    padding: 5px 0;
    cursor: pointer;
}

.none-display {
    display: none;
}

.view-acc-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.view-acc-buttons > button {
    cursor: pointer;
    padding: 5px 20px;
}

.row-styles {
    cursor: pointer;
}

.row-styles:hover {
    background-color: rgb(201, 201, 201);
}
.selected {
    background-color: rgb(79, 91, 255) !important;
    color: white;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
}


th {
    background-color: black;
    color: white;
}

.account-nav-buttons {
    width: 100%;
    /* background-color: red; */
    text-align: right;
    padding: 0 10px 0 0;
    display: none;
}

button {
    cursor: pointer;
    padding: 0 10px;
}